// for semantic date picker
.datePicker .field{
    display: block !important;
    .field{
        margin-bottom: 0 !important;
        .ui.input{
            input{
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
    i{
        color: $primaryColor;
        opacity: 1 !important;
    }
 }
//  for sidebar
 #sidebar{
    width: 170px !important;
    z-index: 9999 !important;
    .active.item{
        background: transparent !important;
        color: $primaryColor !important;
        svg{
            path{
                fill: $primaryColor !important;
            }
        }
    }
}

#mainContent{
    position: relative;
    &:before{
        content: '';
        z-index: -1;
        width: 100%;
        top: 45px;
        height: 200px;
        position: absolute;
        background-color: $primaryColor;
    }
}
.PageSub-title{
    position: relative;
    &:before{
      content: '';
      height: 25px;
      top: -4px;
      width: 1px ;
      background-color: #fff ;
      position: absolute;
      left: 0;
    }
}
.pagination-div{
    .ui.menu{
        background-color: transparent !important;
        border: 0 !important;
        box-shadow: none !important;
        .item{
            transition: unset !important;
            min-width: 0em;
            margin: 0.7rem !important;
            padding: 0 !important;
            &::before{
                display: none;
            }
            &:hover{
                color: $primaryColor;
                background-color: transparent !important;
            }
            @include for-mobile{
                margin: 0.6rem !important;
            }
        }
        .item.active{
            height: 1.5rem;
            width: 1.5rem;
            justify-content: center !important;
            color: $textLightColor;
            background-color: $primaryColor !important;
            border-radius: 50%;
        }
    }
}
input[type=checkbox] {
    accent-color: $primaryColor  !important;
  }
@include for-mobile{
    #SignicatINtegrationTable{
        min-width: 770px !important;
    }
}